# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build artifacts
dist
dist-ssr
/src-tauri/target/
/src-tauri/gen/
/src-tauri/bin/

# Local files & Binaries
*.local
.env
.env.*
*.backup
binaries/
!binaries/.gitkeep

# Editor & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tauri specific
src-tauri/zapret-ui-manifest.rc
src-tauri/zapret-ui.manifest
~/.tauri/zapret-ui.key
/~
